.nav {
	background-color: #bc1229;
	height: 100px;
	width: 700px;
	float: left;
	margin-top: 5px;
	z-index: 1;
}
button.accordian {
	/*background-color: #bc1229;*/
	color: #a6aa25;
	padding: 10px;
	width: 30px;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}
button.accordion.active, button.accordion:hover {
	background-color: #847c7d;
}
div.panel {
	/*background-color: #0e34f3;*/
	display: none;
	padding: 0 18px;
	margin-top: 40px;
	margin-left: 30px;
	float: left;
	width: 90px;
	align-items: center;
}
body {
	background-color: #2d2b2b;
}
#insideWind {
	background-color: white;
	border-radius: 6px;
	width: 450px;
	height: 450px;
	margin-left: 100px; 
	margin-top: 120px;
	position: absolute;
}
#navList {
	/*display: inline-block;*/
	float: left;
}
div a {
	height: 60px;
	width: 30px;
	background-color: #bc1229;
	color: #a6aa25;
	font-family: Arial, sans-serif;
	list-style-type: none;
	text-decoration: none;
	font-size: 15px;
	margin-left: 20px;
	padding: 10px;
	display: block;
}
a {
	text-decoration: none;
	width: 800px;
}
a:hover {
	background-color: #847c7d;
}
